{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}
